---
  - name: playbook
    hosts: localhost
    roles:
      - install
    vars_prompt:
        - name: "user_pass1"
          prompt: "enter pass1"
          private: yes
          encrypt: "md5_crypt" #need to have python-passlib
          confirm: yes
          salt_size: 7
    tasks:
        - name: create system group
          group: name=webadmin state=present system=yes
        - name: create system user and add user in group webadmin
          user: name=cross.csro createhome=yes shell=/bin/bash groups=webadmin password={{ user_pass1 }} system=yes
        
        - name: create dir
          file: path=/var/www/z state=directory owner=root group=webadmin mode=0775
         # if need inherit, umask 002 && chgrp namegroup . && chmod g+s .
         
        - name: create file 512MB*1024=524288
          shell: dd if=/dev/zero of=/swapfile1 bs=1024 count=524288  
        
