---
  - name: install apache and packages
    sudo: yes
    apt: name={{ item }} state=present
    with_items:
          - links
          - perl
          - php-pear 
          - memcached
          - php-pecl-memcached
          - apache2
          - openssl
          - php
          - php-xml
          - php-gd
          - php-imap
          - php-mysql
          - php-odbc
          - php-pear
          - php-snmp
          - php-xmlrpc
          - php-mbstring
          - mod_perl
          - cyrus-sasl
          - cyrus-sasl-gssapi
          - mod_ssl
          - perl-XML-Simple
          - perl-Crypt-SSLeay
